/**joey css**/

body{
	margin: 20px 250px;
	background-color: #088A08;
	font-family: comic sans ms;
	}
	
.logo{
	width: 50%;
	height: auto;
	}
	
.lik{
	float:right;
	width: 30%;
	height: auto;
	}
	
.naslov{
	font-size:1.5em;
	}
	
.gif{
	position: relative;
	left: 20%;
	width:60%;
	height:auto;
	}
	
a:link {
    color: #0B610B;
	text-decoration: none;
	}


a:visited {
    color: #088A08;
	text-decoration: none;
	}


a:hover {
    color: #0B610B;
	text-decoration: none;
	}


a:active {
    color: #0B610B;
	text-decoration: none;
	}
	
.izb1{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 180px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}
	
.izb2{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 240px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}
	
	
.izb3{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 300px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}	
	
	
.izb4{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 360px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}
	
	
	
.izb5{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 420px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}
	
	
.izb6{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 480px;
	right: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-left: 2px solid #0B610B;
	}
	
.izb01{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 300px;
	left: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-right: 2px solid #0B610B;
	}
	
.izb02{
	position: fixed;
	width: 100px;
	padding: 2px;
	background-color: black;
	top: 360px;
	left: 5px;
	text-align: center;
	border-bottom: 2px solid #0B610B;
	border-right: 2px solid #0B610B;
	}